h1 {
    text-shadow: 0px 0px 4px black;
}
label {
    text-shadow: 0px 0px 4px black;
}
p {
    text-shadow: 0px 0px 4px black;
}
.q1 {
    text-shadow: 0px 0px 4px black;
    color: white;
}
.q2 {
    text-shadow: 0px 0px 4px black;
    color: white;
}
.q3 {
    text-shadow: 0px 0px 4px black;
    color: white;
}